div.container.text-center.home 
    h1.animated.slideInDown Bill Murray
    img(src="/images/bill.png" class="img img-circle img-responsive animated fadeIn")
    a(ui-sref="Bill")
        button.btn.btn-lg Let's Make Magic
